<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Generador de Personas</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ab, inventore velit exercitationem facilis labore sequi ipsa debitis laudantium dolores?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, ipsam?</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg " href="/generar" role="button">Generar Personas</a>
            <a class="btn btn-success btn-lg " href="/coleccion" role="button">Ver Colección</a>    
        </div>
        
    </div>
</div>